<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.microsoft.Word:WXTN</string>
	<key>CFBundleIdentifier</key>
	<string>net.sabi.LaunchBar.action.RecentWordDocuments</string>
	<key>CFBundleName</key>
	<string>Recent Word Documents</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAssociatedApplication</key>
	<string>com.microsoft.Word</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Nicholas Riley</string>
		<key>LBChangelog</key>
		<string>
			1.1: Adds support for Office 16/2019.
			1.0: Fixes crash with Unicode characters in cloud-hosted document names.
			1.0b2: Adds support for cloud-hosted documents (e.g. SharePoint, OneDrive). Always sorts most recent documents first. Adds support for automatic updates if you have the Action Updates action installed.
		</string>
		<key>LBDownloadURL</key>
		<string>https://github.com/nriley/LBOfficeMRU/releases/download/v1.0/LBOfficeMRU-1.0.zip</string>
		<key>LBEmail</key>
		<string>launchbar@sabi.net</string>
		<key>LBRequirements</key>
		<string>Microsoft Word 15 (Office 365 or 2016)</string>
		<key>LBResult</key>
		<string>The list of recently opened Word documents.</string>
		<key>LBSummary</key>
		<string>This action returns a list of recently opened Word documents.</string>
		<key>LBTwitter</key>
		<string>@nriley</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/nriley/LBOfficeMRU/master/Recent%20Word%20Documents.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://sabi.net/nriley/software/#launchbar</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.microsoft.Word</string>
	<key>LBRequirements</key>
	<string>Microsoft Word 15 or 16 (Office 365, 2016 or 2019)</string>
	<key>LBResult</key>
	<string>The list of recently opened Word documents.</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016–18 Nicholas Riley</string>
</dict>
</plist>
