<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.microsoft.Excel:XLTX</string>
	<key>CFBundleIdentifier</key>
	<string>net.sabi.LaunchBar.action.RecentExcelDocuments</string>
	<key>CFBundleName</key>
	<string>Recent Excel Documents</string>
	<key>CFBundleVersion</key>
	<string>1.0b1</string>
	<key>LBAssociatedApplication</key>
	<string>com.microsoft.Excel</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Nicholas Riley</string>
		<key>LBChangelog</key>
		<string></string>
		<key>LBDownloadURL</key>
		<string>https://github.com/nriley/LBOfficeMRU/releases/download/v1.0b1/LBOfficeMRU-1.0b1.zip</string>
		<key>LBEmail</key>
		<string>launchbar@sabi.net</string>
		<key>LBRequirements</key>
		<string>Microsoft Excel 15 (Office 365 or 2016)</string>
		<key>LBResult</key>
		<string>The list of recently opened Excel documents.</string>
		<key>LBSummary</key>
		<string>This action returns a list of recently opened Excel documents.</string>
		<key>LBTwitter</key>
		<string>@nriley</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/nriley/LBOfficeMRU/master/Recent%20Excel%20Documents.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://sabi.net/nriley/software/#launchbar</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.microsoft.Excel</string>
	<key>LBRequirements</key>
	<string>Microsoft Excel 15 (Office 365 or 2016)</string>
	<key>LBResult</key>
	<string>The list of recently opened Excel documents.</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Nicholas Riley</string>
</dict>
</plist>
